.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  text-align: center;
}

.loader h2 {
  position: relative;
  margin: auto;
  top: 30%;
  font-size: 2rem;
  color: var(--primary-color);
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 1000;
  top: 30%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 84px;
  height: 84px;
  margin: 8px;
  border: 10px solid var(--primary-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--primary-color) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
