.common-edition-todo-container {
  width: 80%;
  margin: auto;
}

.top {
  display: flex;
  align-items: center;
}

.top > h2 {
  flex: 1;
  text-align: center;
  transform: translateX(-32px);
  font-size: 32px;
  font-weight: 700;
}
