.home-container {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.top {
  display: flex;
  align-items: center;
}

.top > h2 {
  font-size: 32px;
  font-weight: 700;
  flex: 1;
  text-align: center;
  transform: translateX(-32px);
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
