form {
  background-color: #3e4058;
  padding: 24px;
  border-radius: 10px;
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.form-group > label {
  margin-bottom: 8px;
}

.btn-edit-submit {
  width: 300px;
  height: 50px;
  margin: 40px auto 0;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: background-color 0.2s ease-in-out;
}

.btn-edit-submit:hover {
  background-color: #8f92ac;
  transition: background-color 0.2s ease-in-out;
}
