header {
  height: 80px;
  width: 100%;
  text-align: center;
  background-color: #2f3143;
  color: white;
}

header > h1 {
  margin: 0;
  padding-top: 4px;
}

header > h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
