body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  height: 50px;
  border-radius: 8px;
  padding: 0 16px;
  color: #3e4058;
}

textarea {
  border-radius: 8px;
  padding: 16px;
  color: #3e4058;
  max-width: calc(100% - 32px);
}

input:focus {
  outline: 1px solid #b0b1c7;
}
